* {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

p {
    font-size: 15px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title {
    text-align: center;
    padding-top: 20px;
}

.titleds {
    margin: 10px;
}

.cricle {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ffa254;
}
.icon {
    filter: brightness(0) saturate(100%) invert(86%) sepia(26%) saturate(4169%)
        hue-rotate(320deg) brightness(101%) contrast(103%);
}

img {
    width: 40px;
    height: auto;
}

.seletor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.form {
    border: 1px solid rgb(252 252 252);
    box-shadow: 0px 4px 16px -3px;
    justify-content: center;
    text-align: center;
}

.form + .form {
    margin-left: 30px;
}

.around {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.button {
    padding: 30px;
}

button {
    background: #ffa254;
    color: whitesmoke;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background: yellow;
    color: rebeccapurple;
}
